language: node_js
node_js:
  - '4.0'
  - '4.1'
  - '4.2'
  - '5.0'
  - '5.1'
  - '5.2'
  - '5.3'
  - '5.5'
  - '5.6'
before_install:
  - npm install -g grunt-cli istanbul
after_success:
  - istanbul cover ./node_modules/mocha/bin/_mocha --require ./node_modules/babel/register.js --require ./node_modules/should/index.js --report lcovonly -- test/** -R spec && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
deploy:
  provider: npm
  email: mguilarducci@gmail.com
  api_key:
    secure: S/kDDOjBhAbRFfASAS60lg9yGItYWoiBKgf3L/Jp0dDcXKPqQiovENf+KLilOR8MnmIUi55oWKPupnvqvcBbUspx3seFMDNxdwYBSG5cGmdQjB3Mnzzv/MmFTfLZHbfbvuwqd3X6j6hHPcO/hBwbRiBgVqgPP1OAYsJ00b3pgfUugc2qwse/lVMm3sK+UdSt4uV22dYbnqObdip/U3lJ+Hi/Tv+d7zmZuiRt0sP/HQSWvG9FqzwR9TdS3Sy3Sc6NXX+Rm8TTQHZYAXug22/sLWxw+dpE4Yy+76zkZDchX2Lk8JtvStCgUhqdFeYqthI9tH4K/ZUvg2CGExBwO3mRZlblHiZoz3khafm4k8HnM5pXNR35tUv2o3LIXuG+b8r9zToGwscZeF3zYfBFfUvcACsM1Bg4AXUY0VyAAfSpYJH8uxJOKN2b2CdTzJevyUwX7GcYDYFpL19f1rDtFB2AJo5Zq6Cp6VVrS9K7rB1QHuYS/PXlOjadWs7Y0eVVdFP6inJ9ZmxlQ5t0I0fTnPPPm8rS9uqr6EjyGu/jAUfKGBdn2BjWu7Hi9iZOTUzkjjpHO6b+v6Erj8NdbxxtU/ywW1LVFnEzjsidNNevD+qOnKO0XcdxIcz/JWf86yDJSBxnrBtH5tueOj4L7XhcHH5o7qhPP/VxqqtaRBC3ajYgcRA=
  on:
    tags: true
    repo: stone-pagamentos/string-helper
